    <div *ngIf=" worldNews.length==0 ; else loading" class="container">
        <div class="box">
      <div class="skeleton">
              <div class="skeleton-left">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
              <div class="skeleton-right">
              <div class="square"></div>
            </div>
        
      </div>
        <div class="skeleton">
              <div class="skeleton-left">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
              <div class="skeleton-right">
              <div class="square"></div>
            </div>
        
      </div>
        <div class="skeleton">
              <div class="skeleton-left">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
              <div class="skeleton-right">
              <div class="square"></div>
            </div>
        
      </div>
    </div>
    
    <div class="box">
      <div class="skeleton">
              <div class="skeleton-left">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
              <div class="skeleton-right">
              <div class="square circle"></div>
            </div>
        
      </div>
     <div class="skeleton">
              <div class="skeleton-left">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
              <div class="skeleton-right">
              <div class="square circle"></div>
            </div>
        
      </div>
       <div class="skeleton">
              <div class="skeleton-left">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
              <div class="skeleton-right">
              <div class="square circle"></div>
            </div>
        
      </div>
    </div>
    
    <div class="box">
     <div class="skeleton">
              <div class="skeleton-left flex1">
              <div class="square circle"></div>
            </div>
              <div class="skeleton-right flex2">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
      </div>
     <div class="skeleton">
              <div class="skeleton-left flex1">
              <div class="square circle"></div>
            </div>
              <div class="skeleton-right flex2">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
      </div>
       <div class="skeleton">
              <div class="skeleton-left flex1">
              <div class="square circle"></div>
            </div>
              <div class="skeleton-right flex2">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
      </div>
    </div>
    
    <div class="box">
     <div class="skeleton">
              <div class="skeleton-left flex1">
              <div class="square"></div>
            </div>
              <div class="skeleton-right flex2">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
      </div>
     <div class="skeleton">
              <div class="skeleton-left flex1">
              <div class="square"></div>
            </div>
              <div class="skeleton-right flex2">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
      </div>
       <div class="skeleton">
              <div class="skeleton-left flex1">
              <div class="square"></div>
            </div>
              <div class="skeleton-right flex2">
                <div class="line h17 w40 m10"></div>
                <div class="line"></div>
                <div class="line h8 w50"></div>
                <div class="line  w75"></div>
            </div>
      </div>
    </div>
    
    </div>


<ng-template #loading>
<div class="w-60">
    <div class="row">
        <h2 class="text-capitalize">{{newsCategory}} News</h2>
        <div class="col-md-12">
            <div class="header-data shadow">
                <img src={{worldNews[25].urlToImage}} class="w-60"  alt="">
                <div class="header-title p-4">
                    <h4>{{worldNews[25].title}}</h4>
                    <p>{{worldNews[25].content}}</p>
                </div>
            </div>
        </div>
        <ng-container class="col-md-6 " *ngFor="let manchet of worldNews;let i=index">
            <div class="col-md-6" *ngIf="i<6">
                <app-manchet [manchetData]="manchet"></app-manchet>
            </div>
            <div class="col-md-4" *ngIf=" i>6  && i<13">
                <app-manchet [manchetData]="manchet"></app-manchet>
            </div>
            <div class="col-md-6" *ngIf="i>13 && i<22">
                <app-manchet [manchetData]="manchet"></app-manchet>
            </div>
        </ng-container>
    </div>
</div>
</ng-template>