<div class="container mx-auto my-5 py-5">
  <div class="title">Login</div>
  <div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="user-details">
        <div class="input-box">
          <span class="details">E-mail</span>
          <input
            formControlName="email"
            type="email"
            class="form-control py-3"
            id="email-info"
            aria-describedby="email-info"
            placeholder="Email-Adress"
          />
          <div
            *ngIf="
              !loginForm.controls['email'].valid &&
              loginForm.controls['email'].touched
            "
          >
            <p
              class="text-danger"
              *ngIf="loginForm.controls['email'].errors?.['required']"
            >
              This field is required !
            </p>
            <p
              class="text-danger"
              *ngIf="loginForm.controls['email'].errors?.['pattern']"
            >
              This is not a correct e-mail address !
            </p>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Password</span>
          <input
            formControlName="password"
            name="password"
            type="password"
            class="form-control py-3"
            id="pass-info"
            placeholder="Password"
          />
          <div
            *ngIf="
              !loginForm.controls['password'].valid &&
              loginForm.controls['password'].touched
            "
          >
            <p
              class="text-danger"
              *ngIf="loginForm.controls?.['required']"
            >
              This field is required !
            </p>
          </div>
          <p class="text-danger" *ngIf="notLoggedIn">You Don't Have Email</p>
        </div>
      </div>

      <div class="button">
        <button type="submit" (click)="checkAuth()" class="btn btn-primary">
          Log-In
        </button>
        <p class="my-2 text-center">
          Don't have account?
          <a class="text-decoration-none text-dark fw-bold" routerLink="/auth/register"
            >Register</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
