
.container {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 40px auto;
  max-width: 400px;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.Login {
  font-size: 25px;
  margin-bottom: 30px;
  position: relative;
}
.Login::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, black, red);
}

.Input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
Input:focus,
Input:valid {
  border-color: black;
}

 .button{
  height: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, black, red);
}

.form-check 
{
  padding: 0 !important;
}


@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

}