.w-90
{
    width: 95%;
    margin: 0 auto;
}
nav
{
    box-shadow: 2px 4px 5px rgb(0 0 0 / 15%);
    background-color: #b00507;
}
.fixed
{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}



li{
    padding: 20px 0px;
}
.dynamic-logo
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.active-anchor
{
    text-decoration: none;
    color: white;
    padding: 23px 12px;
    transition: 0.2s all;
    font-weight: 700;
}
.active-anchor:hover,
.activeLink
{
    color:#b00507;
    background-color: white;  
}



