<nav>
  <div class="container p-2">
    <div>
      <ul class="nav justify-content-center mx-2">
        <li>
          <a routerLink="/home">HOME</a>
        </li>
        <li>
          <a routerLink="/politics">POLITICS</a>
        </li>
        <li>
          <a routerLink="/sports">SPORTS</a>
        </li>
        <li>
          <a routerLink="/technology">TECHNOLOGY</a>
        </li>
        <li>
          <a routerLink="/business">BUSINESS</a>
        </li>
        <li>
          <a routerLink="/contacts">CONTACTS</a>
        </li>
        <li>
          <a routerLink="/reading"
            >READING <i class="mx-2 fa-regular fa-bookmark"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
