nav
{
    box-shadow: 2px 4px 5px rgb(0 0 0 / 15%);
    background-color: #b00507;
}
li{
    padding: 20px 0px;
}
.dynamic-logo
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.active-anchor
{
    text-decoration: none;
    color: white;
    padding: 23px 16px;
    transition: 0.2s all;
    font-weight: 700;
}
.active-anchor:hover,
.activeLink
{
    color:#b00507;
    background-color: white;  
}


