
nav
{
    box-shadow: 2px 4px 5px rgb(0 0 0 / 15%);
}
a
{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.2s all;
}
a:hover
{
    background-color: var(--main-color);
    color: #fff;
}