 <nav >
    <div class="container p-2">
            <div class="">
                <ul class="nav justify-content-center  mx-2">
                    <li class=" ">
                        <a routerLink="/home">HOME</a>
                    </li>
                    <!-- <li class="dropdown mx-2">
                        <a href=""class="dropdown-toggle category02" data-toggle="dropdown"aria-expanded="false">
                            ALL PAGES
                            <span class="pe-7s-angle-down">

                            </span>
                            <ul class="dropdown-menu menu-slide">
                                <li class="dropdown-submenu">
                                    <a href="">Home</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="">Home</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="">Home</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown mx-2">
                        <a href=""class="dropdown-toggle category02" data-toggle="dropdown"aria-expanded="false">
                            INTERNATIONAL
                            <span class="pe-7s-angle-down">

                            </span>
                            <ul class="dropdown-menu menu-slide">
                                <li class="dropdown-submenu">
                                    <a href="">Home</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="">Home</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="">Home</a>
                                </li>
                            </ul>
                        </a>
                    </li> -->
                    <li class=" ">
                        <a routerLink="/politics">POLITICS</a>
                    </li>
                    <li class=" ">
                        <a routerLink="/sports">SPORTS</a>
                    </li>
                    <li class=" ">
                        <a routerLink="/technology">TECHNOLOGY</a>
                    </li>
                    <li class=" ">
                        <a routerLink="/contacts">CONTACTS</a>
                    </li>
                </ul>
            </div>
        </div>
</nav> 

