<div class="container mx-auto my-5">
  <div class="title">Registration</div>
  <div class="content">
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister(registerForm)">
      <div class="user-details">
        <div class="input-box">
          <span class="details">first Name</span>
          <input
            type="text"
            class="form-control"
            id="fName"
            name="name"
            formControlName="registerName"
          />
          <div
            *ngIf="
              showErrors ||
              (!controlValidation['registerName'].valid &&
                controlValidation['registerName'].touched)
            "
          >
            <p
              class="text-danger"
              *ngIf="controlValidation['registerName'].errors?.['required']"
            >
              first name is required
            </p>
            <p
              class="text-danger"
              *ngIf="controlValidation['registerName'].errors?.['pattern']"
            >
              first name should have only string and no space
            </p>
          </div>
        </div>

        <div class="input-box">
          <span class="details">last Name</span>
          <input
            type="text"
            class="form-control"
            id="lName"
            name="name"
            formControlName="registerLastName"
          />
          <div
            *ngIf="
              showErrors ||
              (!controlValidation['registerLastName'].valid &&
                controlValidation['registerLastName'].touched)
            "
          >
            <p
              class="text-danger"
              *ngIf="controlValidation['registerLastName'].errors?.['required']"
            >
              last name is required
            </p>
            <p
              class="text-danger"
              *ngIf="controlValidation['registerLastName'].errors?.['pattern']"
            >
              last name should have only string and no space
            </p>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Username</span>
          <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            formControlName="registerUserName"
          />
          <div
            *ngIf="
              showErrors ||
              (!controlValidation['registerUserName'].valid &&
                controlValidation['registerUserName'].touched)
            "
          >
            <p
              class="text-danger"
              *ngIf="controlValidation['registerUserName'].errors?.['required']"
            >
              user name is required
            </p>
            <p
              class="text-danger"
              *ngIf="controlValidation['registerUserName'].errors?.['pattern']"
            >
              username should have no spaces
            </p>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Email</span>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            formControlName="registerEmail"
          />
          <div
            *ngIf="
              showErrors ||
              (!controlValidation['registerEmail'].valid &&
                controlValidation['registerEmail'].touched)
            "
          >
            <p
              class="text-danger"
              *ngIf="controlValidation['registerEmail'].errors?.['required']"
            >
              email is required
            </p>
            <p
              class="text-danger"
              *ngIf="controlValidation['registerEmail'].errors?.['pattern']"
            >
              email is not valid
            </p>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Password</span>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            formControlName="registerPassword"
          />
          <div
            *ngIf="
              showErrors ||
              (!registerForm.controls['registerPassword'].valid &&
                registerForm.controls['registerPassword'].touched)
            "
          >
            <p
              class="text-danger"
              *ngIf="controlValidation['registerPassword'].errors?.['required']"
            >
              password required
            </p>
            <p
              class="text-danger"
              *ngIf="controlValidation['registerPassword'].errors?.['pattern']"
            >
              password is not valid (shuld hav.....)
            </p>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="registerConfirmPassword"
          />
          <div
        *ngIf="
          showErrors ||
          (!registerForm.controls['registerConfirmPassword'].valid &&
            registerForm.controls['registerConfirmPassword'].touched)
        "
      >
        <p
          class="text-danger"
          *ngIf="controlValidation['registerConfirmPassword'].errors?.['required']"
        >
          confirm password required
        </p>
        <p
          class="text-danger"
          *ngIf="controlValidation['registerConfirmPassword'].errors?.['checkPasswords'] "
        >
          confirm password is not mach password
        </p>
      </div>
        </div>
      </div>

      <div class="button">
        <button
        type="submit"
        class="btn btn-primary mb-3"
        [disabled]="!registerForm.valid"
      >
        register
      </button>
      <p class="text-center">
        have account already,

        <a class="text-decoration-none text-dark fw-bold" routerLink="/auth/login">login</a>
      </p>
      </div>
    </form>
  </div>
</div>

