<header class="bg-light">
    <div class="container p-2">
        <div class="row align-items-center">
            <div class="col-sm-4 col-md-3">
                <div class="header-auth">
                    <ul class="d-flex align-items-center">
                        <li class="mx-2">
                            <a routerLink="auth/register" routerLinkActive="activeLinkText">Register</a>
                        </li>
                        <li class="mx-2">
                            <a routerLink="auth/login" routerLinkActive="activeLinkText">Login</a>
                        </li>
                        <li class="mx-2">
                            <a routerLink="/contacts" routerLinkActive="activeLinkText">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-md-7">
                <div class="header-desc">
                    <ul>
                        <li class="li-animate">
                            <span class="text-danger">
                                Health
                            </span>
                            <a >
                                “A good laugh and a long sleep are the best cures in the doctor's book.”
                            </a>
                        </li>
                        <li class="li-animate mb-5">
                            <span class="text-success">
                                Malcom X
                            </span>
                            <a >
                                “You're not to be so blind with patriotism that you can't face reality”
                            </a>
                        </li>
                        <li class="li-animate mb-5">
                            <span class="text-primary">
                                Sports
                            </span>
                            <a >
                                “The only way to prove that you’re a good sport is to lose.”
                            </a>
                        </li>
                        <li class="li-animate mb-5">
                            <span class="text-danger">
                                Travel
                            </span>
                            <a >
                                “The journey of a thousand miles begins with a single step.”
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
           <p>{{email}}</p>
            </div>
        </div>
    </div>
</header>

