<header class="bg-light">
  <div class="container py-2">
    <div class="row align-items-center justify-content-between">
      <div class="col-sm-3 col-md-3">
        <ul class="d-flex justify-content-center   align-items-center">
          <li>
            <a (click)="putEnglishLang()" class="mx-3 lang">English</a>
          </li>
          <li>
            <a class="lang" (click)="putFrenchLang()">French</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="header-desc">
          <ul>
            <li class="li-animate">
              <span class="text-danger"> Health </span>
              <a>
                “A good laugh and a long sleep are the best cures in the
                doctor's book.”
              </a>
            </li>
            <li class="li-animate mb-5">
              <span class="text-success"> Malcom X </span>
              <a>
                “You're not to be so blind with patriotism that you can't face
                reality”
              </a>
            </li>
            <li class="li-animate mb-5">
              <span class="text-primary"> Sports </span>
              <a>
                “The only way to prove that you’re a good sport is to lose.”
              </a>
            </li>
            <li class="li-animate mb-5">
              <span class="text-danger"> Travel </span>
              <a>
                “The journey of a thousand miles begins with a single step.”
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-sm-3 col-md-3 row align-items-center"
        *ngIf="email; else loginFirst"
      >
        <div class="col">{{ email }}</div>
        <li class="col mx-2">
          <a
            routerLink="auth/login"
            routerLinkActive="activeLinkText"
            (click)="logout()"
            >LogOut</a
          >
        </li>
      </div>

      <ng-template #loginFirst>
        <div class="col-sm-3 col-md-3">
          <div class="header-auth text-lg-center">
            <ul class="d-flex align-items-center justify-content-center ">
              <li class="mx-2">
                <a routerLink="auth/register" routerLinkActive="activeLinkText"
                  >Register</a
                >
              </li>
              <li class="mx-2">
                <a routerLink="auth/login" routerLinkActive="activeLinkText"
                  >Login</a
                >
              </li>
            </ul>
          </div>
        </div></ng-template
      >
    </div>
  </div>
</header>
