.card-text h5 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 50px;
  }
  
  a,
  p {
    color: black;
  }
  
  i {
    color: #ffd700;
    font-size: 1.2rem;
  }
  
  .i-selected {
    background-color: #ffd700;
  }
  
  .manchet-img {
    height: 210px;
  }
  