.news-card {
  height: 350px;
}

a,
p {
  color: black;
}

.Btn {
  height: 45px;

  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, black, red);
}
.Btn:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, black, red);
}

.BtnGreen {
  height: 45px;

  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(-135deg, black, green);
}
.BtnGreen:hover {
  transform: scale(0.99);
  background: linear-gradient(135deg, black, green);
}
