<a class="text-decoration-none" href="{{ manchetData.url }}" target="_blank">
  <div class="news-card shadow rounded my-3">
    <img
      src="{{ manchetData.urlToImage }}"
      class="manchet-img card-img-top"
      alt="#"
    />
    <div class="card-text">
      <h5 class="mx-4 my-2">{{ manchetData.title }}</h5>
      <div class="d-flex justify-content-between mx-4">
        <p>{{ manchetData.publishedAt | date: "short" }}</p>
        <a
          (click)="addToBook($event); (false)"
          [ngClass]="inInBook ? 'i-selected' : ''"
        >
          <i class="fa-regular fa-bookmark"></i
        ></a>
      </div>
    </div>
  </div>
</a>
