.card-text h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 50px;
}

.news-card:hover .card-text h5 
{
  color: var(--main-color);
  text-decoration: underline;
}


a,
p {
  color: black;
}

i {
  color: var(--main-color);
  font-size: 1.4rem;
}

.manchet-img {
  height: 250px;
}

.img-cont
{
  overflow: hidden;
}


.news-card:hover img
{
  transform: scale(1.2);
  transition: all .8s;
} 


@media (min-width:720px) and (max-width:1200px) {
  .manchet-img 
  {
    height: 180px;
  }
  
}



html, body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  background:#F2F2F2;
  font-family: 'Open Sans', sans-serif;
}
.fpo {
    position: relative;
    margin: 25% auto;
    display: block;
}
.pulsate{
  background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
    background-size: 400% 400%;
    -webkit-animation: Gradient 2.25s ease infinite;
    -moz-animation: Gradient 2.25s ease infinite;
    animation: Gradient 2.25s ease infinite;
}
.block {
  display:block;
  width:271px;
  height:16px;
  color:black;
}
.block2 {
  width:78px;
  height:8px;
  margin-bottom:8px;
}
.block3 {
  width:131px;
  height:8px;
  margin-bottom:16px;
}
.circle {
  width:28px;
  height:28px;
  border-radius:50%;
  float:right;
  
}
#card {
  box-sizing: border-box;
    width: 335px;
  background: #fff;
    position: relative;
    margin:auto;
    top:25%;
}
.card-image {
  box-sizing: border-box;
  display:block;
  width:335px;
  height:243px;
  background:#FAFAFA;
  padding:16px;
}
.card-content {
  clear:both;
  box-sizing: border-box;
  padding:16px;
  background:#fff;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
