.card-text h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 50px;
}

.news-card:hover .card-text h5 
{
  color: var(--main-color);
  text-decoration: underline;
}


a,
p {
  color: black;
}

i {
  color: var(--main-color);
  font-size: 1.4rem;
}

.manchet-img {
  height: 250px;
}

.img-cont
{
  overflow: hidden;
}


.news-card:hover img
{
  transform: scale(1.2);
  transition: all .8s;
} 


@media (min-width:720px) and (max-width:1200px) {
  .manchet-img 
  {
    height: 180px;
  }
  
}
