
<div class="w-60">
    <div class="row">
        <h2>Sports</h2>
        <div class="col-md-12">
            <div class="header-data d-flex justify-content-between align-items-center shadow">
                <img src={{usaNews[5].urlToImage}} class="w-60"  alt="">
                <div class="header-title p-4">
                    <h4>{{usaNews[5].title}}</h4>
                    <p>{{usaNews[5].content}}</p>
                </div>
            </div>
        </div>
        <h2>France</h2>
        <div class="col-md-4" *ngFor="let manchetfr of tempfr">
            <app-manchet [manchetData] = 'manchetfr'></app-manchet>
        </div>
        <h2>USA</h2>
        <div class="w-25 text-center" *ngFor="let manchetus of usaNews">
            <app-manchet [manchetData] = 'manchetus'></app-manchet>
        </div>
   
    </div>
</div>